<div class="col-sm-12  col-md-12 main" style="background: #FFF;">


<h2><i class="fa fa-pencil"></i> 
	Atualizando Cliente
</h2><hr>

<div class="row">
	<form action="<?=$GLOBALS['project_index'];?>/controller/update_client.php" method="POST">
	<div class="col-md-12">
		<h4><label><i class="fa fa-user"></i> 
			Nome do Cliente 
		</label></h4>
		<input type="text" name="client_name" placeholder="Nome do Cliente" class="form-control input-lg" required value="<?=$client['client_name'];?>"><br>

	<!--div class="col-md-6">
		<h4><label><i class="fa fa-envelope"></i> 
			Email do Cliente 
		</label></h4>
		<input type="email" name="client_email" placeholder="Email do Cliente" class="form-control input-lg" required value="<?=$client['client_email'];?>"><br> 
	</div>

	<div class="col-md-6">
		<h4><label><i class="fa fa-phone"></i> 
			Telefone do Cliente 
		</label></h4>
		<input type="text" name="client_phone" placeholder="Telefone do Cliente" class="form-control input-lg" required id="phone" value="<?=$client['client_phone'];?>"><br> 
	</div-->

	<div class="col-md-6">
		<h4><label><i class="fa fa-whatsapp"></i> 
			Celular do Cliente 
		</label></h4>
		<input type="text" name="client_cellphone" placeholder="Celular do Cliente" class="form-control input-lg" required id="cellphone" value="<?=$client['client_cellphone'];?>"><br> 
	</div>

	<!--div class="col-md-6">
		<h4><label><i class="fa fa-address-card"></i> 
			CPF do Cliente 
		</label></h4>
		<input type="text" name="client_cpf" placeholder="CPF do Cliente" class="form-control input-lg" required id="cpf" value="<?=$client['client_cpf'];?>"> <br>
	</div>

	<div class="col-md-6">
		<h4><label><i class="fa fa-globe"></i> 
			Endereço do Cliente 
		</label></h4>
		<input type="text" name="client_address" placeholder="Endereço do Cliente" class="form-control input-lg" required value="<?=$client['client_address'];?>"><br> 
	</div-->

	<?php
		# Tratando a data
		$date_model = explode("-",$client['client_birth']);

		$new_date = $date_model[2]."-".$date_model[1]."-".$date_model[0];
	?>

	<div class="col-md-6">
		<h4><label><i class="fa fa-birthday-cake"></i> 
			Data de Nascimento do Cliente 
		</label></h4>
		<input type="text" name="client_birth" placeholder="Data de Nascimento do Cliente" class="form-control input-lg" required id="date" value="<?=$new_date;?>"> <br>
	</div>

	<!-- Id do Cliente -->
	<input type="hidden" name="id_client" value="<?=$client['id_client'];?>">

	<div class="col-md-12">
		<button class="btn btn-warning btn-lg">
			<i class="fa fa-pencil"></i>
				Modificar Cliente
		</button>
	</div>
	</form>	 
</div>		
</div>