<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <title><?=$user->profile_name;?> | <?=$user->name;?></title>

    <!-- Bootstrap core CSS -->
    <link href="<?=$project_index;?>/view/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<?=$project_index;?>/view/assets/simple-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="<?=$project_index;?>/view/assets/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
</head>

<body>
    <div class="container-fluid">
    <div class="row">
        <nav class="navbar navbar">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button><br> 
              <a href="#"> <img src="https://www.helpebs.com.br/university/logos/logo.png" /></a> &nbsp; 

                <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"> <i class="fa fa-eye"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              
             
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">
                    Olá, <?=$user->name;?></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> Configurações <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="">
                        <i class="fa fa-user"></i>
                         Meu Perfil</a>
                    </li>
                    <li><a href="">
                        <i class="fa fa-telegram"></i>
                         Mensagens</a>
                    </li>
                    
                    <li role="separator" class="divider"></li>
                    <li><a href="controller/logout.php"><i class="fa fa-power-off"></i> Sair</a></li>
                  </ul>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav> 


    </div>
</div>

    <div id="wrapper" style="margin-top:-20px;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <i class="fa fa-bars"></i>
                         Menu de Opções
                    </a>
                </li>
                <!-- Incluindo o menu -->
                <?php include_once 'view/menu.html';?>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <?php page_content();?>
                
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="<?=$project_index;?>/view/assets/bootstrap/js/jquery.js"></script>
    <script src="<?=$project_index;?>/view/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#cpf').mask('000.000.000-00');
            $('#phone').mask('(00) 0000-0000');
            $('#cellphone').mask('(00) 00000-0000');
            $('#date').mask('00-00-0000');
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
         $('#tableGeral').DataTable();
        });
    </script>

</body>
</html>





